body {
    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    background-image: url(Images/brickworkBackground.jpg);
    text-shadow: 2px 2px black;
}

#header {
    max-width: 60%;
    margin-left: 20em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    opacity: 85%;

}

strong{
    color: #00ff00;
}

h1 {
    color: #00ff00;
    text-align: center;
    background-size: contain;
    padding:0.2em; 
    margin-bottom: 0.1em;
    font-size: 3em; 
}

h2{
    color: #00ff00;
    text-align: center; 
    background-size: contain;
    padding:0.2em; 
    margin: 0.1em;
    font-size: 2em;
}

p{
    text-align: justify;
    background-size: contain;
    padding:0.2em; 
    margin: 0.1em;
    font-size: 1.5em;
}
.oct  {   
    text-align: center;
    padding-top: 1em;    
}

.oct p{
    text-align: center;    
    padding-top: .5em;
    padding-bottom: .5em;
}
.GameArticles p{
    text-align: center;
    color: #00ff00;
    margin-bottom: 1em;
}
.GameArticles ul, li{
    display: table;
    margin: 0 auto;
    margin-bottom: 1em;
    list-style: none;
}

 a:hover{
    color: #00ff00;
}

 a{
    color: #ff69b4;
    text-shadow: none;
 
}

img.Kanban {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;   
    border-radius: .5%;
}

img.dataBase{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto; 
    background-color: white;
}
table{
    border-collapse: collapse;
    margin-bottom: .5em;
}
table tr,
th,
td {
    overflow-x: auto;
    border: 0.1em solid #ff64b4;

}

td {

    padding: 1em;
}

th {

    color: #00ff00;
    font-size: 2em;

}



section{
    margin-top: 4em;
    margin-left:.5em;
    margin-right: .5em;
}



/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;   
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;    
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1em;
    font-weight: bold;
    width: 16.666667%;
    border: #ff69b4 solid 0.1em;    
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {    
    display: none;
    padding: 0.2em 1em;
    height: 100%;    
    background-color: rgba(51,51,51, 0.8);
    border: #ff69b4 solid 0.1em;
  }



  .accordion {
    background-color: #333;
    color: #ff64b4;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #ff64b4;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #333;
    border-color: #99ff33;
}

.accordion:after {
    content: '\002B';
    color: #ff64b4;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: .5em;
}
  



  footer {    
    left: 0;
    bottom: 0;
    width: 100%;    
    text-align: center;
    margin-top: 1em; 
}

.copy {
    display: inline-flex;
    opacity: 70%;
}